.posts {
    border-style: solid;
    border-radius: 5px;
    border-width: .5mm;
    padding: 10px;
    
  }
  .nav-item{
    transition: 0.3s;
  }
  .nav-item:hover {
    
    background-color: #c3c4c7;
    border-radius: 15px;
    padding: 5px;
  }
  .nav-link:hover{
    color: black;
  }
  .btn_reply{
    border-radius:10px;
  }
  