<!DOCTYPE html>
<html lang="en">
<head>
  <title>Posts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Just Dew It</h1>
  <p>Make a Post</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/home">Just Dew It</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/flavors">Flavors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts">Posts</a>
      </li>
      <li class= "nav-item">
      	<a class="nav-link" href="/signin">Sign In</a>
      </li>
    </ul>
  </div>  
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form method="post" id = "post">
        <input type="text" id="title" placeholder="post title"/>
        <input type="text" id="body" placeholder="post body"/>
        <button>Post</button>
      </form>
      <p>{{title}}</p>
      <div class= "posts">
        <p>{{body}}</p>
      </div>
      <div>
        <input type="text" placeholder="type your reply here">
        <button class="btn_reply">
          Reply
        </button>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-xl bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/home">Sign out</a>
    </li>
  </ul>
</nav>
</body>
</html>
<script src="public/js/posts.js"></script>