<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Just Dew It</h1>
  <p>Your Profile</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/views/pages/home.handlebars">Just Dew It</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/views/pages/profile.handlebars">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/pages/flavors.handlebars">Flavors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/pages/posts.handlebars">Posts</a>
      </li>
      <li class= "nav-item">
      	<a class="nav-link" href="/views/pages/signIn.handlebars">Sign In</a>
    </ul>
  </div>  
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <p>Username: </p><p id="usr">replace this with the username</p>
      <label for="ff">Select your favorite flavor: </label>
        <select name="ff" id="ff">
          {{!-----Repeat option line for all the flavors--------}}
          <option value="Original">Original</option>
        </select>
      <div>
        <p>Posts: </p>
          <p>{{!REPLACE THIS SECTION WITH THE POSTS ONCE WE PULL FROM DB}}</p>
      </div>
    </div>
  </div>
<nav class="navbar navbar-expand-xl bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class"nav-item">
        <a class="nav-link" href="/views/pages/home.handlebars">Sign out</a>
    </li>
  </ul>
</nav>
</body>
</html>
<script src="public/js/profile.js"></script>
<script src="public/js/home.js"></script>