<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flavortown</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center" {{!move to css}}style="margin-bottom:0">
  <h1>Just Dew It</h1>
  <p>Login to view your Profile and make Posts</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Just Dew It</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="flavors">Flavors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="posts">Posts</a>
      </li>
      <li class= "nav-item">
      	<a class="nav-link" href="signIn">Sign In</a>
    </ul>
  </div>  
</nav>

<div class="container" {{!move to css}}style="margin-top:30px">
  <div class="row">
    <div class="col-sm">
        {{!------Use "user/pass" for login post and use "cuser/cpass" for creating a new account------}}
        <p>Login</p>
        <form method="post">
            Username:
                <input type="text" name="user"/>
            Password:
                <input type="text" name="pass"/>
        </form>
        <br>
        <p>Or create an account</p>
        <form method="post">
            Username:
                <input type="text" name="cuser"/>
            Password:
                <input type="text" name="cpass"/>
        </form>
    </div>
  </div>
<div>
    <nav class="navbar navbar-expand-xl bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class"nav-item">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
    </nav>
</div>
</body>
</html>
<script src="public/js/signIn.js"></script>
<script src="public/js/home.js"></script>